<table class="table table-striped table-dark">
    <thead class="bg-success">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Anime</th>
        <th scope="col">Episódios</th>
      </tr>
    </thead>
    <tbody >
		<tr ng-repeat="x in camiiMen">
		  <th scope="row"><div class="sit"></div>{{x.a}}</th>
		  <td>{{ x.ANINOME }}</td>
		  <td>
			<span class="ep">{{x.EP}}</span>/<span class="epMax">{{ x.ANIEPI }}</span>
	  		<button value='{{x.ANICOD}}' ng-click="addMais1BTN($event)">+</button>
		  </td>
		</tr>

	</tbody>
</table>
